body {
 /* font-family: cursive;*/
 /* text-align: justify;*/
 /* background-color: gray;*/
}
a {
    color: steelblue;
}
h1 {
    color: steelblue;
    font-weight: 500;
    font-size: xx-large;
}
h2 {
    color: steelblue;
    font-weight: 400;
    font-size: x-large;
}
h3 {
    color: steelblue;
    font-weight: 400;
    font-size: large;
}
h4 {
    color: steelblue;
    font-weight: 400;
    font-size: medium;
}
p {
    text-align: justify;
}

.link { color: steelblue; }
.link:hover { color: darkgray; }


.img-container {
    text-align: center;
}

.figure {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
}

.double-column-list {
  columns: 2; /* Divide en dos columnas */
  -webkit-columns: 2; /* Para navegadores webkit (Safari, Chrome, etc.) */
  -moz-columns: 2; /* Para navegadores Mozilla (Firefox) */
}



